@import url(https://fonts.googleapis.com/css?family=League+Spartan:100,200,300,regular,500,600,700,800,900&display=swap);

@import url(https://fonts.googleapis.com/css?family=Lato:regular,500&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #ffffff;
  line-height: 1;
  font-family: "League Spartan";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "League Spartan";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background: #263238;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 88.75rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

[class*=__container-big] {
  max-width: 101.25rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.form {
  max-width: 33.3125rem;
  border-radius: 10px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.375rem;
  gap: 0.3125rem;
  position: relative;
}

.form__input {
  height: 4rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0 1.25rem;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.25rem;
  color: #263238;
}

.form__input::-webkit-input-placeholder {
  color: #263238;
  font-weight: 500;
  font-size: 1.125rem;
}

.form__input::-moz-placeholder {
  color: #263238;
  font-weight: 500;
  font-size: 1.125rem;
}

.form__input:-ms-input-placeholder {
  color: #263238;
  font-weight: 500;
  font-size: 1.125rem;
}

.form__input::-ms-input-placeholder {
  color: #263238;
  font-weight: 500;
  font-size: 1.125rem;
}

.form__input::placeholder {
  color: #263238;
  font-weight: 500;
  font-size: 1.125rem;
}

.form__error {
  position: absolute;
  top: 100%;
  left: 0;
  color: red;
  font-size: 1rem;
  margin-top: 0.625rem;
  padding-left: 1.5rem;
}

.button {
  display: inline-block;
  background-color: #23b123;
  border-radius: 0.625rem;
  padding: 1.3125rem 1.5625rem;
  font-family: Lato;
  font-weight: 500;
  line-height: 1.2222222222;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button_border {
  background-color: transparent;
  border: 1px solid #ffffff;
  padding: 1.25rem 1.5625rem;
}

.button._fw {
  width: 100%;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  font-weight: 600;
  font-size: 4.375rem;
  line-height: 1.1142857143;
  color: #ffffff;
}

.title span {
  color: #23b123;
}

.text {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 180%;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

.header__container-big {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 18.75rem 1fr 18.75rem;
  grid-template-columns: 18.75rem 1fr 18.75rem;
}

.header__logo {
  position: relative;
  z-index: 20;
}

.header__logo::before,
.header__logo::after {
  content: "";
  top: 0;
  left: 0;
  pointer-events: none;
  position: absolute;
  border-radius: 50%;
  border: 1px solid #fff;
}

.header__logo::before {
  -webkit-transform: translate(calc(-50% + 1.75rem), -50%);
      -ms-transform: translate(calc(-50% + 1.75rem), -50%);
          transform: translate(calc(-50% + 1.75rem), -50%);
}

.header__logo::after {
  -webkit-transform: translate(calc(-50% - 1.6875rem), calc(-50% + 3.125rem));
      -ms-transform: translate(calc(-50% - 1.6875rem), calc(-50% + 3.125rem));
          transform: translate(calc(-50% - 1.6875rem), calc(-50% + 3.125rem));
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.menu {
  padding: 0 0.625rem;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 2.75rem;
}

.menu__link {
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  position: relative;
  z-index: 5;
}

.icon-menu {
  display: none;
}

.footer {
  background-color: rgba(53, 64, 70, 0.5);
}

.footer__container {
  max-width: 101.25rem;
}

.footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5625rem;
  border-bottom: rgba(255, 255, 255, 0.42) solid 1px;
}

.info-main-footer {
  width: 33%;
}

.info-main-footer__logo {
  padding-bottom: 1.5rem;
  display: block;
}

.info-main-footer__text {
  max-width: 22rem;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 177%;
}

.form-main-footer {
  width: 44%;
}

.form-main-footer__text {
  padding-bottom: 1.5rem;
  max-width: 27.375rem;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 177%;
}

.contacts-main-footer {
  width: 23%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.25rem;
}

.contacts-main-footer__social p {
  margin-bottom: 1.5rem;
}

.contacts-main-footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.9375rem;
}

.contacts-main-footer__telephone p {
  margin-bottom: 1.5rem;
  font-weight: 300;
  font-size: 18px;
  line-height: 177%;
}

.bottom-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  font-weight: 300;
}

.bottom-footer__policy-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.5rem;
}

.main-block__container {
  position: relative;
  padding: 0em 0.4375em;
}

.main-block__content {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.main-block__title {
  max-width: 51.25rem;
}

.main-block__title:not(:last-child) {
  margin-bottom: 4.3125rem;
}

.main-block__text {
  max-width: 37.5rem;
  font-weight: 300;
  font-size: 18px;
  line-height: 180%;
  text-align: center;
}

.main-block__text:not(:last-child) {
  margin-bottom: 3rem;
}

.icons-main-block__item {
  position: absolute;
}

.icons-main-block__item_1 {
  top: 70.0205338809%;
  left: 0;
}

.icons-main-block__item_2 {
  top: 40%;
  left: 14%;
}

.icons-main-block__item_3 {
  top: 77.0020533881%;
  left: 24.6913580247%;
}

.icons-main-block__item_4 {
  top: 14.1683778234%;
  left: 71.3580246914%;
}

.icons-main-block__item_5 {
  top: 43.1211498973%;
  left: 81.975308642%;
}

.icons-main-block__item_6 {
  top: 80.0821355236%;
  left: 82.0987654321%;
}

.icons-main-block__item_7 {
  top: 39.0143737166%;
  left: 95.6790123457%;
}

.partners__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.875rem;
}

.how__container {
  display: -ms-grid;
  display: grid;
  row-gap: 1.875rem;
}

.how__image {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.steps-how__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 2rem;
  max-width: 30.3125rem;
}

.steps-how__icon {
  border-radius: 50%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 6.875rem;
          flex: 0 0 6.875rem;
  height: 6.875rem;
  width: 6.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.steps-how__title {
  font-size: 1.25rem;
  font-weight: 700;
}

.steps-how__title:not(:last-child) {
  margin-bottom: 1rem;
}

.image-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 1.25rem;
  position: relative;
  overflow: hidden;
}

.image-block::after,
.image-block::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 1px solid #fff;
  top: 0;
  left: 0;
}

.image-block::before {
  -webkit-transform: translate(calc(75% - 1.125rem), -20%);
      -ms-transform: translate(calc(75% - 1.125rem), -20%);
          transform: translate(calc(75% - 1.125rem), -20%);
}

.image-block::after {
  -webkit-transform: translate(calc(75% - 0.625rem), -10%);
      -ms-transform: translate(calc(75% - 0.625rem), -10%);
          transform: translate(calc(75% - 0.625rem), -10%);
}

.image-block__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  z-index: 2;
  text-align: center;
}

.image-block__item img {
  max-width: 100%;
  border-radius: 1.25rem;
}

.pathway__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pathway__image {
  max-width: 50%;
}

.pathway__content {
  max-width: 50%;
}

.spollers-pathway__item {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 0.625rem;
}

.spollers-pathway__item:last-of-type {
  margin-bottom: 1.5rem;
}

.spollers-pathway__title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(255, 255, 255, 0.025);
  border-radius: 0.625rem;
  text-align: left;
  font-weight: 400;
  font-size: 1.5rem;
  padding: 2rem 1.875rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.spollers-pathway__title::after {
  content: url("../img/how/arrow-down.svg");
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.25rem;
          flex: 0 0 1.25rem;
  width: 1.5rem;
  height: 1.5rem;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.spollers-pathway__title._spoller-active::after {
  -webkit-transform: rotate3d(1, 0, 0, 180deg);
          transform: rotate3d(1, 0, 0, 180deg);
}

.spollers-pathway__body {
  padding: 1.125rem 1.5rem 1.125rem 1.5rem;
}

.why__container {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.why__text {
  margin-bottom: 3.125rem;
}

.why__image {
  border-radius: 1.25rem;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.why__image img {
  width: 100%;
  height: 100%;
}

.item-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.875rem;
}

.item-list__point {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.05);
  font-weight: 700;
  font-size: 2.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 0.3125rem;
}

.customers__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.customers__title {
  font-size: 4.375rem;
}

.customers__text {
  text-align: center;
  max-width: 31.25rem;
}

.customers__button {
  width: 13.8125rem;
}

.customers-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
}

.customers-content__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  max-width: 40.625rem;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 1.25rem;
  overflow: hidden;
  min-height: 23.5625rem;
}

.customers-content__image-ibg {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 43%;
          flex: 0 0 43%;
}

.customers-content__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.customers-content__comment {
  font-size: 18px;
  font-weight: 300;
  line-height: 177%;
}

.customers-content__author {
  font-weight: 600;
  font-size: 18px;
}

.download__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 1.25rem;
  position: relative;
  overflow: hidden;
}

.download__title {
  max-width: 47.5rem;
  text-align: center;
}

.download__apps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5625rem;
}

.download__circle {
  position: absolute;
  width: 36.5625rem;
  height: 36.5625rem;
  border-radius: 50%;
  border: rgba(255, 255, 255, 0.37) 1px solid;
  z-index: -5;
}

.download__circle_1 {
  top: -6.25rem;
}

@media (min-width: 47.99875em) {
  .why__container {
    -ms-grid-columns: 33% 47%;
    grid-template-columns: 33% 47%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 61.99875em) {
  .how__container {
    -ms-grid-columns: 1fr 52%;
    grid-template-columns: 1fr 52%;
  }
}

@media (min-width: 61.99875em) and (min-width: 62em) {
  .how__content {
    padding-right: 5.9375rem;
  }
}

@media (min-width: 61.99875em) and (min-width: 103.125em) {
  .pathway__content {
    padding-left: 7.875rem;
  }
}

@media (min-width: 103.125em) {
  .title {
    font-size: 4.375rem;
  }

  .title_s64 {
    font-size: 4rem;
  }

  .header {
    padding-top: 3.75rem;
  }

  .header {
    padding-bottom: 3.75rem;
  }

  .header__logo::before,
  .header__logo::after {
    width: 36.5625rem;
  }

  .header__logo::before,
  .header__logo::after {
    height: 36.5625rem;
  }

  .menu__list {
    gap: 2.75rem;
  }

  .footer__container-big {
    padding-top: 4.25rem;
  }

  .main-footer {
    padding-bottom: 3.5rem;
  }

  .bottom-footer {
    padding-top: 3.5rem;
  }

  .bottom-footer {
    padding-bottom: 3.5rem;
  }

  .main-block__content {
    padding-top: 15.625rem;
  }

  .main-block__content {
    padding-bottom: 12.5rem;
  }

  .main-block__title:not(:last-child) {
    margin-bottom: 4.3125rem;
  }

  .main-block__text:not(:last-child) {
    margin-bottom: 3rem;
  }

  .page__partners {
    padding-bottom: 12.5rem;
  }

  .partners {
    padding-bottom: 12.5rem;
  }

  .how {
    padding-bottom: 6.25rem;
  }

  .how__title:not(:last-child) {
    margin-bottom: 2rem;
  }

  .how__text:not(:last-child) {
    margin-bottom: 3rem;
  }

  .steps-how__item:not(:last-child) {
    margin-bottom: 3rem;
  }

  .image-block {
    padding-top: 10.3125rem;
  }

  .image-block {
    padding-bottom: 10.3125rem;
  }

  .image-block {
    padding-left: 2.8125rem;
  }

  .image-block {
    padding-right: 2.8125rem;
  }

  .image-block::after,
  .image-block::before {
    width: 36.5625rem;
  }

  .image-block::after,
  .image-block::before {
    height: 36.5625rem;
  }

  .pathway {
    padding-bottom: 6.25rem;
  }

  .pathway {
    padding-top: 6.25rem;
  }

  .pathway__text {
    margin-bottom: 3rem;
  }

  .page__why {
    padding-bottom: 6.25rem;
  }

  .page__why {
    padding-top: 6.25rem;
  }

  .item-list__text {
    padding-left: 3.125rem;
  }

  .customers {
    margin-bottom: 12.5rem;
  }

  .customers__title {
    margin-bottom: 2rem;
  }

  .customers__text {
    margin-bottom: 3rem;
  }

  .customers-content {
    margin-bottom: 3rem;
  }

  .customers-content__comment {
    padding: 2rem;
  }

  .customers-content__author {
    padding: 2rem;
  }

  .page__download {
    margin-bottom: 12.5rem;
  }

  .download__title {
    margin-top: 4.5rem;
  }

  .download__title {
    margin-bottom: 3rem;
  }

  .download__apps {
    margin-bottom: 4rem;
  }
}

@media (max-width: 75em) {
  .steps-how__text {
    line-height: 130%;
  }
}

@media (max-width: 20em) {
  .title {
    font-size: 3.125rem;
  }

  .title_s64 {
    font-size: 3.125rem;
  }

  .header {
    padding-top: 0.9375rem;
  }

  .header {
    padding-bottom: 0.9375rem;
  }

  .header__logo::before,
  .header__logo::after {
    width: 21.875rem;
  }

  .header__logo::before,
  .header__logo::after {
    height: 21.875rem;
  }

  .menu__list {
    gap: 0.3125rem;
  }

  .footer__container-big {
    padding-top: 2rem;
  }

  .main-footer {
    padding-bottom: 1.875rem;
  }

  .bottom-footer {
    padding-top: 1.875rem;
  }

  .bottom-footer {
    padding-bottom: 1.875rem;
  }

  .main-block__content {
    padding-top: 7.5rem;
  }

  .main-block__content {
    padding-bottom: 3.125rem;
  }

  .main-block__title:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .main-block__text:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .page__partners {
    padding-bottom: 1.875rem;
  }

  .partners {
    padding-bottom: 3.125rem;
  }

  .how {
    padding-bottom: 1.5625rem;
  }

  .how__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .how__text:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .steps-how__item:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .image-block {
    padding-top: 1.875rem;
  }

  .image-block {
    padding-bottom: 1.875rem;
  }

  .image-block {
    padding-left: 1.875rem;
  }

  .image-block {
    padding-right: 1.875rem;
  }

  .image-block::after,
  .image-block::before {
    width: 21.875rem;
  }

  .image-block::after,
  .image-block::before {
    height: 21.875rem;
  }

  .pathway {
    padding-bottom: 1.5625rem;
  }

  .pathway {
    padding-top: 1.5625rem;
  }

  .pathway__text {
    margin-bottom: 0.9375rem;
  }

  .page__why {
    padding-bottom: 1.5625rem;
  }

  .page__why {
    padding-top: 1.5625rem;
  }

  .item-list__text {
    padding-left: 1.25rem;
  }

  .customers {
    margin-bottom: 6.25rem;
  }

  .customers__title {
    margin-bottom: 1.25rem;
  }

  .customers__text {
    margin-bottom: 2rem;
  }

  .customers-content {
    margin-bottom: 1.25rem;
  }

  .customers-content__comment {
    padding: 0.75rem;
  }

  .customers-content__author {
    padding: 0.75rem;
  }

  .page__download {
    margin-bottom: 6.25rem;
  }

  .download__title {
    margin-top: 1.875rem;
  }

  .download__title {
    margin-bottom: 1.25rem;
  }

  .download__apps {
    margin-bottom: 1.875rem;
  }
}

@media (max-width: 70.375em) {
  .partners__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 67.5em) {
  .header__container-big {
    -ms-grid-columns: auto 1fr auto;
    grid-template-columns: auto 1fr auto;
  }
}

@media (max-width: 61.99875em) {
  .button {
    padding: 0.75rem 1.125rem;
  }

  .title {
    text-align: center;
  }

  .how__text:not(:last-child) {
    text-align: center;
  }

  .steps-how {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .steps-how__icon {
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
  }

  .pathway__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .pathway__image {
    max-width: 100%;
  }

  .pathway__content {
    max-width: 100%;
  }

  .pathway__text {
    text-align: center;
  }

  .why__title {
    font-size: 3.125rem;
    line-height: 110%;
  }

  .why__text {
    line-height: 110%;
  }

  .why__list {
    max-width: 100%;
  }

  .why__button {
    text-align: center;
    margin-bottom: 4.0625rem;
  }

  .customers-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 47.99875em) {
  .header__container-big {
    -ms-grid-columns: auto 1fr auto auto;
    grid-template-columns: auto 1fr auto auto;
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    overflow: auto;
    background-color: #263238;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.875rem;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    left: -100%;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    width: 100%;
    background-color: #1f292e;
    z-index: 2;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    row-gap: 2.5rem;
  }

  .menu__link {
    font-size: 3.125rem;
  }

  .button_border {
    margin-right: 1.25rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .icons-main-block__item {
    opacity: 0.5;
  }

  .why__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .download__circle {
    width: 31.25rem;
    height: 31.25rem;
  }
}

@media (max-width: 47.99875em) and (max-width: 0.125em) {
  .menu__body {
    padding-top: 3.125rem;
  }

  .menu__body::before {
    height: 3.125rem;
  }
}

@media (max-width: 29.99875em) {
  .how__content {
    text-align: center;
    padding-right: 0;
  }

  .steps-how__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .download__apps {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 26.875em) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .main-block__form {
    width: 100%;
  }
}

@media (min-width: 20em) and (max-width: 103.125em) {
@supports (font-size: clamp( 3.125rem , 2.8242481203rem  +  1.5037593985vw , 4.375rem )) {
    .title {
      font-size: clamp( 3.125rem , 2.8242481203rem  +  1.5037593985vw , 4.375rem );
    }
}

@supports not (font-size: clamp( 3.125rem , 2.8242481203rem  +  1.5037593985vw , 4.375rem )) {
    .title {
      font-size: calc(3.125rem + 1.25 * (100vw - 20rem) / 83.125);
    }
}

@supports (font-size: clamp( 3.125rem , 2.9144736842rem  +  1.0526315789vw , 4rem )) {
    .title_s64 {
      font-size: clamp( 3.125rem , 2.9144736842rem  +  1.0526315789vw , 4rem );
    }
}

@supports not (font-size: clamp( 3.125rem , 2.9144736842rem  +  1.0526315789vw , 4rem )) {
    .title_s64 {
      font-size: calc(3.125rem + 0.875 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-top: clamp( 0.9375rem , 0.2608082707rem  +  3.3834586466vw , 3.75rem )) {
    .header {
      padding-top: clamp( 0.9375rem , 0.2608082707rem  +  3.3834586466vw , 3.75rem );
    }
}

@supports not (padding-top: clamp( 0.9375rem , 0.2608082707rem  +  3.3834586466vw , 3.75rem )) {
    .header {
      padding-top: calc(0.9375rem + 2.8125 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.2608082707rem  +  3.3834586466vw , 3.75rem )) {
    .header {
      padding-bottom: clamp( 0.9375rem , 0.2608082707rem  +  3.3834586466vw , 3.75rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.2608082707rem  +  3.3834586466vw , 3.75rem )) {
    .header {
      padding-bottom: calc(0.9375rem + 2.8125 * (100vw - 20rem) / 83.125);
    }
}

@supports (width: clamp( 21.875rem , 18.3411654135rem  +  17.6691729323vw , 36.5625rem )) {
    .header__logo::before,
    .header__logo::after {
      width: clamp( 21.875rem , 18.3411654135rem  +  17.6691729323vw , 36.5625rem );
    }
}

@supports not (width: clamp( 21.875rem , 18.3411654135rem  +  17.6691729323vw , 36.5625rem )) {
    .header__logo::before,
    .header__logo::after {
      width: calc(21.875rem + 14.6875 * (100vw - 20rem) / 83.125);
    }
}

@supports (height: clamp( 21.875rem , 18.3411654135rem  +  17.6691729323vw , 36.5625rem )) {
    .header__logo::before,
    .header__logo::after {
      height: clamp( 21.875rem , 18.3411654135rem  +  17.6691729323vw , 36.5625rem );
    }
}

@supports not (height: clamp( 21.875rem , 18.3411654135rem  +  17.6691729323vw , 36.5625rem )) {
    .header__logo::before,
    .header__logo::after {
      height: calc(21.875rem + 14.6875 * (100vw - 20rem) / 83.125);
    }
}

@supports (gap: clamp( 0.3125rem , -0.2739661654rem  +  2.9323308271vw , 2.75rem )) {
    .menu__list {
      gap: clamp( 0.3125rem , -0.2739661654rem  +  2.9323308271vw , 2.75rem );
    }
}

@supports not (gap: clamp( 0.3125rem , -0.2739661654rem  +  2.9323308271vw , 2.75rem )) {
    .menu__list {
      gap: calc(0.3125rem + 2.4375 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-top: clamp( 2rem , 1.4586466165rem  +  2.7067669173vw , 4.25rem )) {
    .footer__container-big {
      padding-top: clamp( 2rem , 1.4586466165rem  +  2.7067669173vw , 4.25rem );
    }
}

@supports not (padding-top: clamp( 2rem , 1.4586466165rem  +  2.7067669173vw , 4.25rem )) {
    .footer__container-big {
      padding-top: calc(2rem + 2.25 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.4840225564rem  +  1.954887218vw , 3.5rem )) {
    .main-footer {
      padding-bottom: clamp( 1.875rem , 1.4840225564rem  +  1.954887218vw , 3.5rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.4840225564rem  +  1.954887218vw , 3.5rem )) {
    .main-footer {
      padding-bottom: calc(1.875rem + 1.625 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-top: clamp( 1.875rem , 1.4840225564rem  +  1.954887218vw , 3.5rem )) {
    .bottom-footer {
      padding-top: clamp( 1.875rem , 1.4840225564rem  +  1.954887218vw , 3.5rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 1.4840225564rem  +  1.954887218vw , 3.5rem )) {
    .bottom-footer {
      padding-top: calc(1.875rem + 1.625 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.4840225564rem  +  1.954887218vw , 3.5rem )) {
    .bottom-footer {
      padding-bottom: clamp( 1.875rem , 1.4840225564rem  +  1.954887218vw , 3.5rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.4840225564rem  +  1.954887218vw , 3.5rem )) {
    .bottom-footer {
      padding-bottom: calc(1.875rem + 1.625 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-top: clamp( 7.5rem , 5.545112782rem  +  9.7744360902vw , 15.625rem )) {
    .main-block__content {
      padding-top: clamp( 7.5rem , 5.545112782rem  +  9.7744360902vw , 15.625rem );
    }
}

@supports not (padding-top: clamp( 7.5rem , 5.545112782rem  +  9.7744360902vw , 15.625rem )) {
    .main-block__content {
      padding-top: calc(7.5rem + 8.125 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 0.8693609023rem  +  11.2781954887vw , 12.5rem )) {
    .main-block__content {
      padding-bottom: clamp( 3.125rem , 0.8693609023rem  +  11.2781954887vw , 12.5rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 0.8693609023rem  +  11.2781954887vw , 12.5rem )) {
    .main-block__content {
      padding-bottom: calc(3.125rem + 9.375 * (100vw - 20rem) / 83.125);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.2885338346rem  +  2.9323308271vw , 4.3125rem )) {
    .main-block__title:not(:last-child) {
      margin-bottom: clamp( 1.875rem , 1.2885338346rem  +  2.9323308271vw , 4.3125rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.2885338346rem  +  2.9323308271vw , 4.3125rem )) {
    .main-block__title:not(:last-child) {
      margin-bottom: calc(1.875rem + 2.4375 * (100vw - 20rem) / 83.125);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.8289473684rem  +  2.1052631579vw , 3rem )) {
    .main-block__text:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.8289473684rem  +  2.1052631579vw , 3rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.8289473684rem  +  2.1052631579vw , 3rem )) {
    .main-block__text:not(:last-child) {
      margin-bottom: calc(1.25rem + 1.75 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-bottom: clamp( 1.875rem , -0.6813909774rem  +  12.7819548872vw , 12.5rem )) {
    .page__partners {
      padding-bottom: clamp( 1.875rem , -0.6813909774rem  +  12.7819548872vw , 12.5rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , -0.6813909774rem  +  12.7819548872vw , 12.5rem )) {
    .page__partners {
      padding-bottom: calc(1.875rem + 10.625 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 0.8693609023rem  +  11.2781954887vw , 12.5rem )) {
    .partners {
      padding-bottom: clamp( 3.125rem , 0.8693609023rem  +  11.2781954887vw , 12.5rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 0.8693609023rem  +  11.2781954887vw , 12.5rem )) {
    .partners {
      padding-bottom: calc(3.125rem + 9.375 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-bottom: clamp( 1.5625rem , 0.4346804511rem  +  5.6390977444vw , 6.25rem )) {
    .how {
      padding-bottom: clamp( 1.5625rem , 0.4346804511rem  +  5.6390977444vw , 6.25rem );
    }
}

@supports not (padding-bottom: clamp( 1.5625rem , 0.4346804511rem  +  5.6390977444vw , 6.25rem )) {
    .how {
      padding-bottom: calc(1.5625rem + 4.6875 * (100vw - 20rem) / 83.125);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 1.0695488722rem  +  0.9022556391vw , 2rem )) {
    .how__title:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 1.0695488722rem  +  0.9022556391vw , 2rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 1.0695488722rem  +  0.9022556391vw , 2rem )) {
    .how__title:not(:last-child) {
      margin-bottom: calc(1.25rem + 0.75 * (100vw - 20rem) / 83.125);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.6043233083rem  +  1.3533834586vw , 3rem )) {
    .how__text:not(:last-child) {
      margin-bottom: clamp( 1.875rem , 1.6043233083rem  +  1.3533834586vw , 3rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.6043233083rem  +  1.3533834586vw , 3rem )) {
    .how__text:not(:last-child) {
      margin-bottom: calc(1.875rem + 1.125 * (100vw - 20rem) / 83.125);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.8289473684rem  +  2.1052631579vw , 3rem )) {
    .steps-how__item:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.8289473684rem  +  2.1052631579vw , 3rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.8289473684rem  +  2.1052631579vw , 3rem )) {
    .steps-how__item:not(:last-child) {
      margin-bottom: calc(1.25rem + 1.75 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-top: clamp( 1.875rem , -0.155075188rem  +  10.1503759398vw , 10.3125rem )) {
    .image-block {
      padding-top: clamp( 1.875rem , -0.155075188rem  +  10.1503759398vw , 10.3125rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , -0.155075188rem  +  10.1503759398vw , 10.3125rem )) {
    .image-block {
      padding-top: calc(1.875rem + 8.4375 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-bottom: clamp( 1.875rem , -0.155075188rem  +  10.1503759398vw , 10.3125rem )) {
    .image-block {
      padding-bottom: clamp( 1.875rem , -0.155075188rem  +  10.1503759398vw , 10.3125rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , -0.155075188rem  +  10.1503759398vw , 10.3125rem )) {
    .image-block {
      padding-bottom: calc(1.875rem + 8.4375 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-left: clamp( 1.875rem , 1.6494360902rem  +  1.1278195489vw , 2.8125rem )) {
    .image-block {
      padding-left: clamp( 1.875rem , 1.6494360902rem  +  1.1278195489vw , 2.8125rem );
    }
}

@supports not (padding-left: clamp( 1.875rem , 1.6494360902rem  +  1.1278195489vw , 2.8125rem )) {
    .image-block {
      padding-left: calc(1.875rem + 0.9375 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-right: clamp( 1.875rem , 1.6494360902rem  +  1.1278195489vw , 2.8125rem )) {
    .image-block {
      padding-right: clamp( 1.875rem , 1.6494360902rem  +  1.1278195489vw , 2.8125rem );
    }
}

@supports not (padding-right: clamp( 1.875rem , 1.6494360902rem  +  1.1278195489vw , 2.8125rem )) {
    .image-block {
      padding-right: calc(1.875rem + 0.9375 * (100vw - 20rem) / 83.125);
    }
}

@supports (width: clamp( 21.875rem , 18.3411654135rem  +  17.6691729323vw , 36.5625rem )) {
    .image-block::after,
    .image-block::before {
      width: clamp( 21.875rem , 18.3411654135rem  +  17.6691729323vw , 36.5625rem );
    }
}

@supports not (width: clamp( 21.875rem , 18.3411654135rem  +  17.6691729323vw , 36.5625rem )) {
    .image-block::after,
    .image-block::before {
      width: calc(21.875rem + 14.6875 * (100vw - 20rem) / 83.125);
    }
}

@supports (height: clamp( 21.875rem , 18.3411654135rem  +  17.6691729323vw , 36.5625rem )) {
    .image-block::after,
    .image-block::before {
      height: clamp( 21.875rem , 18.3411654135rem  +  17.6691729323vw , 36.5625rem );
    }
}

@supports not (height: clamp( 21.875rem , 18.3411654135rem  +  17.6691729323vw , 36.5625rem )) {
    .image-block::after,
    .image-block::before {
      height: calc(21.875rem + 14.6875 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-bottom: clamp( 1.5625rem , 0.4346804511rem  +  5.6390977444vw , 6.25rem )) {
    .pathway {
      padding-bottom: clamp( 1.5625rem , 0.4346804511rem  +  5.6390977444vw , 6.25rem );
    }
}

@supports not (padding-bottom: clamp( 1.5625rem , 0.4346804511rem  +  5.6390977444vw , 6.25rem )) {
    .pathway {
      padding-bottom: calc(1.5625rem + 4.6875 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-top: clamp( 1.5625rem , 0.4346804511rem  +  5.6390977444vw , 6.25rem )) {
    .pathway {
      padding-top: clamp( 1.5625rem , 0.4346804511rem  +  5.6390977444vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 1.5625rem , 0.4346804511rem  +  5.6390977444vw , 6.25rem )) {
    .pathway {
      padding-top: calc(1.5625rem + 4.6875 * (100vw - 20rem) / 83.125);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.4412593985rem  +  2.4812030075vw , 3rem )) {
    .pathway__text {
      margin-bottom: clamp( 0.9375rem , 0.4412593985rem  +  2.4812030075vw , 3rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.4412593985rem  +  2.4812030075vw , 3rem )) {
    .pathway__text {
      margin-bottom: calc(0.9375rem + 2.0625 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-bottom: clamp( 1.5625rem , 0.4346804511rem  +  5.6390977444vw , 6.25rem )) {
    .page__why {
      padding-bottom: clamp( 1.5625rem , 0.4346804511rem  +  5.6390977444vw , 6.25rem );
    }
}

@supports not (padding-bottom: clamp( 1.5625rem , 0.4346804511rem  +  5.6390977444vw , 6.25rem )) {
    .page__why {
      padding-bottom: calc(1.5625rem + 4.6875 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-top: clamp( 1.5625rem , 0.4346804511rem  +  5.6390977444vw , 6.25rem )) {
    .page__why {
      padding-top: clamp( 1.5625rem , 0.4346804511rem  +  5.6390977444vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 1.5625rem , 0.4346804511rem  +  5.6390977444vw , 6.25rem )) {
    .page__why {
      padding-top: calc(1.5625rem + 4.6875 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-left: clamp( 1.25rem , 0.7988721805rem  +  2.2556390977vw , 3.125rem )) {
    .item-list__text {
      padding-left: clamp( 1.25rem , 0.7988721805rem  +  2.2556390977vw , 3.125rem );
    }
}

@supports not (padding-left: clamp( 1.25rem , 0.7988721805rem  +  2.2556390977vw , 3.125rem )) {
    .item-list__text {
      padding-left: calc(1.25rem + 1.875 * (100vw - 20rem) / 83.125);
    }
}

@supports (margin-bottom: clamp( 6.25rem , 4.7462406015rem  +  7.5187969925vw , 12.5rem )) {
    .customers {
      margin-bottom: clamp( 6.25rem , 4.7462406015rem  +  7.5187969925vw , 12.5rem );
    }
}

@supports not (margin-bottom: clamp( 6.25rem , 4.7462406015rem  +  7.5187969925vw , 12.5rem )) {
    .customers {
      margin-bottom: calc(6.25rem + 6.25 * (100vw - 20rem) / 83.125);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 1.0695488722rem  +  0.9022556391vw , 2rem )) {
    .customers__title {
      margin-bottom: clamp( 1.25rem , 1.0695488722rem  +  0.9022556391vw , 2rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 1.0695488722rem  +  0.9022556391vw , 2rem )) {
    .customers__title {
      margin-bottom: calc(1.25rem + 0.75 * (100vw - 20rem) / 83.125);
    }
}

@supports (margin-bottom: clamp( 2rem , 1.7593984962rem  +  1.2030075188vw , 3rem )) {
    .customers__text {
      margin-bottom: clamp( 2rem , 1.7593984962rem  +  1.2030075188vw , 3rem );
    }
}

@supports not (margin-bottom: clamp( 2rem , 1.7593984962rem  +  1.2030075188vw , 3rem )) {
    .customers__text {
      margin-bottom: calc(2rem + 1 * (100vw - 20rem) / 83.125);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.8289473684rem  +  2.1052631579vw , 3rem )) {
    .customers-content {
      margin-bottom: clamp( 1.25rem , 0.8289473684rem  +  2.1052631579vw , 3rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.8289473684rem  +  2.1052631579vw , 3rem )) {
    .customers-content {
      margin-bottom: calc(1.25rem + 1.75 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding: clamp( 0.75rem , 0.4492481203rem  +  1.5037593985vw , 2rem )) {
    .customers-content__comment {
      padding: clamp( 0.75rem , 0.4492481203rem  +  1.5037593985vw , 2rem );
    }
}

@supports not (padding: clamp( 0.75rem , 0.4492481203rem  +  1.5037593985vw , 2rem )) {
    .customers-content__comment {
      padding: calc(0.75rem + 1.25 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding: clamp( 0.75rem , 0.4492481203rem  +  1.5037593985vw , 2rem )) {
    .customers-content__author {
      padding: clamp( 0.75rem , 0.4492481203rem  +  1.5037593985vw , 2rem );
    }
}

@supports not (padding: clamp( 0.75rem , 0.4492481203rem  +  1.5037593985vw , 2rem )) {
    .customers-content__author {
      padding: calc(0.75rem + 1.25 * (100vw - 20rem) / 83.125);
    }
}

@supports (margin-bottom: clamp( 6.25rem , 4.7462406015rem  +  7.5187969925vw , 12.5rem )) {
    .page__download {
      margin-bottom: clamp( 6.25rem , 4.7462406015rem  +  7.5187969925vw , 12.5rem );
    }
}

@supports not (margin-bottom: clamp( 6.25rem , 4.7462406015rem  +  7.5187969925vw , 12.5rem )) {
    .page__download {
      margin-bottom: calc(6.25rem + 6.25 * (100vw - 20rem) / 83.125);
    }
}

@supports (margin-top: clamp( 1.875rem , 1.2434210526rem  +  3.1578947368vw , 4.5rem )) {
    .download__title {
      margin-top: clamp( 1.875rem , 1.2434210526rem  +  3.1578947368vw , 4.5rem );
    }
}

@supports not (margin-top: clamp( 1.875rem , 1.2434210526rem  +  3.1578947368vw , 4.5rem )) {
    .download__title {
      margin-top: calc(1.875rem + 2.625 * (100vw - 20rem) / 83.125);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.8289473684rem  +  2.1052631579vw , 3rem )) {
    .download__title {
      margin-bottom: clamp( 1.25rem , 0.8289473684rem  +  2.1052631579vw , 3rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.8289473684rem  +  2.1052631579vw , 3rem )) {
    .download__title {
      margin-bottom: calc(1.25rem + 1.75 * (100vw - 20rem) / 83.125);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.3637218045rem  +  2.5563909774vw , 4rem )) {
    .download__apps {
      margin-bottom: clamp( 1.875rem , 1.3637218045rem  +  2.5563909774vw , 4rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.3637218045rem  +  2.5563909774vw , 4rem )) {
    .download__apps {
      margin-bottom: calc(1.875rem + 2.125 * (100vw - 20rem) / 83.125);
    }
}
}

@media (max-width: 47.99875em) and (min-width: 48em) {
  .menu__body {
    padding-top: 12.5rem;
  }

  .menu__body::before {
    height: 6.5625rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 0.125em) and (max-width: 48em) {
@supports (padding-top: clamp( 3.125rem , 3.1005221932rem  +  19.5822454308vw , 12.5rem )) {
    .menu__body {
      padding-top: clamp( 3.125rem , 3.1005221932rem  +  19.5822454308vw , 12.5rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 3.1005221932rem  +  19.5822454308vw , 12.5rem )) {
    .menu__body {
      padding-top: calc(3.125rem + 9.375 * (100vw - 0.125rem) / 47.875);
    }
}

@supports (height: clamp( 3.125rem , 3.1160248042rem  +  7.180156658vw , 6.5625rem )) {
    .menu__body::before {
      height: clamp( 3.125rem , 3.1160248042rem  +  7.180156658vw , 6.5625rem );
    }
}

@supports not (height: clamp( 3.125rem , 3.1160248042rem  +  7.180156658vw , 6.5625rem )) {
    .menu__body::before {
      height: calc(3.125rem + 3.4375 * (100vw - 0.125rem) / 47.875);
    }
}
}

@media (min-width: 61.99875em) and (min-width: 0.125em) and (max-width: 62em) {
@supports (padding-right: clamp( 1.875rem , 1.8667929293rem  +  6.5656565657vw , 5.9375rem )) {
    .how__content {
      padding-right: clamp( 1.875rem , 1.8667929293rem  +  6.5656565657vw , 5.9375rem );
    }
}

@supports not (padding-right: clamp( 1.875rem , 1.8667929293rem  +  6.5656565657vw , 5.9375rem )) {
    .how__content {
      padding-right: calc(1.875rem + 4.0625 * (100vw - 0.125rem) / 61.875);
    }
}
}

@media (min-width: 61.99875em) and (max-width: 0.125em) {
  .how__content {
    padding-right: 1.875rem;
  }
}

@media (min-width: 61.99875em) and (min-width: 20em) and (max-width: 103.125em) {
@supports (padding-left: clamp( 1.875rem , 0.4313909774rem  +  7.2180451128vw , 7.875rem )) {
    .pathway__content {
      padding-left: clamp( 1.875rem , 0.4313909774rem  +  7.2180451128vw , 7.875rem );
    }
}

@supports not (padding-left: clamp( 1.875rem , 0.4313909774rem  +  7.2180451128vw , 7.875rem )) {
    .pathway__content {
      padding-left: calc(1.875rem + 6 * (100vw - 20rem) / 83.125);
    }
}
}

@media (min-width: 61.99875em) and (max-width: 20em) {
  .pathway__content {
    padding-left: 1.875rem;
  }
}

@media (any-hover: hover) {
  .button:hover {
    background-color: #157915;
    color: #fff;
  }

  .button_border:hover {
    background-color: #263238;
    border: 1px solid #23b123;
    color: #23b123;
  }

  .menu__link:hover {
    color: #23b123;
  }
}